<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ingresaconductor"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="centrado">
    <ion-card class="card">
      <ion-card-header>
        <h3 class="login">{{"Recuperar Contraseña" | translate}}</h3>
        
      </ion-card-header>
      
    
      <ion-card-content>
        <div class="login">
          <span>{{"Se actualizará la contraseña en base al " | translate}}</span>
        </div>
        <div class="login">
          <span>{{"email logeado cómo usuario" | translate}}</span>
        </div>
        <form [formGroup]="formularioCambio">
          <ion-input formControlName="contraseña" label="Nueva Contraseña" type="email" label-placement="floating" errorText="contraseña Inválida"></ion-input>
          <div class="login">
            <ion-button class="boton" (click)="guardar()">{{"Actualizar" | translate}}</ion-button>
          </div>
        </form>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
