<ion-header>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom">

              <ion-tab-button tab="home" > 
                <ion-icon name="invert-mode"></ion-icon>
              </ion-tab-button>

              <ion-tab-button tab="star">
                <ion-icon name="star"></ion-icon>
              </ion-tab-button>
              
              <ion-tab-button tab="wallet">
                <ion-icon name="wallet"></ion-icon>
              </ion-tab-button>

              <ion-tab-button tab="card">
                <ion-icon name="card"></ion-icon>
              </ion-tab-button>

            </ion-tab-bar>
          </ion-tabs>
    </ion-toolbar>
    <ion-searchbar [(ngModel)]="search" (ionChange)="searchChanged()" placeholder="Para donde?"></ion-searchbar>
        <ion-list class="ion-margin-horizontal" *ngIf="search.length > 0">
          <ion-item (click)="calcRoute(result)" *ngFor=" let result of searchResults">
            {{ result.description }}
          </ion-item>
        </ion-list>
      
    
  </ion-header>

<ion-content>
  
    
  

  <div id="mapId" style="height: 100%; width: 100%;">
    
      
    
  </div>
  
</ion-content>

<ion-footer>
    <ion-toolbar slot="end">
      <ion-button class="centrado" (click)="esperando()" shape="round">Navegar</ion-button>
    </ion-toolbar>
  </ion-footer>