ion-content.background{
    --background: url(img/register.jpeg) 0 0/100% 100% no-repeat;
}


ion-button.boton{
    --background:   #85e6c0;
    --background-hover: #087060 ;
    --background-activated: #049c7c 
    
}

ion-card{
    border-radius: 20px;
    background-color: #1C1C1D;
    box-shadow: 0px 0px 12px #1C1C1D;
}

ion-progress-bar {
    --background: #85e6c0;
    --progress-background: #087060;
  }

  ion-content {
    // overwrite inline styles
    --overflow: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
  }