ion-content.background{
    --background:   url(img/aqui.png) 0 0/100% 100% no-repeat;
}
.abajo{
    margin-top: 180%;
}
ion-button.boton{
    --background:  #049c7c;
    --background-hover: #087060 ;
    --background-activated: #049c7c 
}