<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="centrado">
      <h4>esta opcion permite al cliente pagar mediante codigo QR</h4>
      <h6>El cliente requiere scanear el siguiente codigo QR:</h6>
    </ion-card-header >
    <ion-card-content class="centrado">
      <div class="centrado">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Commons_QR_code.png" alt="">
      </div>
    </ion-card-content>
    
  </ion-card>
</ion-content>
