<ion-content class="background">
  <div class="centrado">
    <ion-card>
      <ion-card-header class="centrado">
        <h4 style="align-items: center;">{{ "mediante este QR el cliente puede realizar su pago"  | translate }}</h4>
        <h6 style="align-items: center; color: red">{{ "Recuerde que este QR solo se genera un vez por viaje"  | translate }}</h6>
      </ion-card-header>
      <ion-card-content>
        <br>
        <div class="centrado">
          <div>
            <canvas #qrcode></canvas>
          </div>
        </div>
        <br>
        <div class="centrado">
          <button (click)="redirigir()">{{"Finalizar pago" | translate}}</button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  


</ion-content>
