<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalle Conductor</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/buscando"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
<br>
<div class="login">
  <ion-avatar >
  <img alt="start" src="https://static.vecteezy.com/system/resources/thumbnails/003/492/377/small/closeup-male-studio-portrait-of-happy-man-looking-at-the-camera-image-free-photo.jpg" />
</ion-avatar>
</div>
<ion-item>
  <div >
    <ion-label class="login">{{nombre}} {{apellido}}</ion-label>
  </div>
</ion-item>

<ion-item>
  <ion-label>
   Patente: WHPT-98
  </ion-label>
</ion-item>

<ion-item>
  <ion-label class="ion-text-wrap">
    Modelo: Toyota Yaris
  </ion-label>
</ion-item>

<ion-item>
  <ion-label class="ion-text-wrap">
    Color: Rojo
  </ion-label>
</ion-item>
<br>
<div class="login"> 
<ion-avatar>
  <img alt="Silhouette of a person's head" src="https://img.remediosdigitales.com/6865b6/toyota-yaris-2021-mexico_2/840_560.jpg" />
</ion-avatar>
</div>
<div class="abajo">
<ion-button class="login" (click)="iniciar()">Iniciar Viaje</ion-button>
</div>
</ion-content>






