<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/mapa"></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="peticiones !== null">
    <ion-item *ngFor="let peticion of peticiones" [routerLink]="['/esperando/peticiondetalle/', peticion.id]">
      <ion-label>
        {{peticion.IdUsuario}}
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-item style="text-align: center;">
    <ion-label *ngIf="peticiones === null || peticiones.length === 0">No hay peticiones activas</ion-label>
  </ion-item>
</ion-content>
