.abajo{
    margin-top: 128%;
}
ion-content.background{
    --background:   url(img/aqui.png) 0 0/100% 100% no-repeat;
}
ion-button{
    --background:   #85e6c0;
    --background-hover: #087060 ;
    --background-activated: #049c7c  
}
