

<ion-content>
<div class="start">
  <h2 class="login">Ingresar</h2>
  <div class="centrado">
  <div>
    
    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
       
      </ion-card-content>
    </ion-card>
    
  </div>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
      
      </ion-card-header>
    
      <ion-card-content>
       
      </ion-card-content>
    </ion-card>
    
  </div>
</div>
</div>
</ion-content>
