<ion-header>
  <ion-toolbar>
    <ion-label></ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card style="border-radius: 15px;">
    <br>
    <ion-img src = "https://cdn-icons-png.flaticon.com/512/3135/3135768.png" style="height: 50%;width: 30%;margin-left: 35%;"></ion-img>
    <ion-item style="text-align: center;">
      <ion-label>Nombre Apellido</ion-label>
    </ion-item>
  </ion-card>

  <ion-card style="border-radius: 15px;">
    <ion-item style="text-align: center;">
      <ion-label>Numero</ion-label>
    </ion-item>
    <ion-item style="text-align: center;">
      <ion-label>Patente</ion-label>
    </ion-item>
    <ion-item style="text-align: center;">
      <ion-label>Marca y modelo</ion-label>
    </ion-item>
  </ion-card>
  <ion-toolbar style="border-radius: 15px;">
    <ion-chip class="centrado">
      <ion-label>Llegada</ion-label>
    </ion-chip>
  </ion-toolbar>
  <ion-card style="margin-top: 10;border-radius: 15px;">
    <ion-item style="text-align: center;color: yellow;">
      <ion-label>de 5 a 10 minutos</ion-label>
    </ion-item>
  </ion-card>
    
</ion-content>

<ion-footer>
  <ion-toolbar>
        <div>
            <ion-img class="fotosize" src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" alt=""></ion-img>
            <br>
            <ion-label style="color: white;margin-left: 3%;">Nombre</ion-label>
            <br>
            <span style="margin-left: 3%;">Apellido</span>
            <ion-img class="configsize" [routerLink]="['/config']"></ion-img>
            <ion-button class="centrado" shape="round" [routerLink]="['/conductoresactivos']">Cancelar solicitud</ion-button>
        </div> 
  
  </ion-toolbar>
</ion-footer>
