ion-content.background{
    --background: url(img/register.jpeg) 0 0/100% 100% no-repeat;
}


.abajo{
    margin-top: 145%;
}
.fotosize{
    height: 17%;
    width: 17%;
    margin: 2%;
    float: left;
}
.configsize{
    height: 33%;
    width: 33%;
    margin: 2%;
    margin-top: -5%;
    margin-right: 2%;
    float: right;
}
.starsize{
    width: 10%;
    height: 10%;
}

.nouser{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
ion-button{
    --background:  #049c7c;
    --background-hover: #087060 ;
    --background-activated: #049c7c 
  }
  

ion-content {
    // overwrite inline styles
    --overflow: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
  }
