<ion-content class="background">
  
  <div class="abajo">
      <ion-card>
        
        <div>
            <ion-img class="fotosize" src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" alt=""></ion-img>
            <br>
            <ion-label style="color: white;margin-left: 3%;">Nombre</ion-label>
            <br>
            <span style="margin-left: 3%;">Apellido</span>
            <ion-img class="configsize" [routerLink]="['/config']" src="https://www.seekpng.com/png/full/954-9541893_carro-png-sin-fondo-de-frente-hot-hatch.png"></ion-img>
        </div>
        <br>
        <div>
          <ion-img class="" src="https://cdn.pixabay.com/photo/2023/02/13/11/27/star-7787131_1280.png"></ion-img>
        Calificacion
        </div>
      </ion-card>  
  </div>    
  
</ion-content>
