ion-content.background{
    --background:   url(img/encamino.png)
}
.abajo{
    margin-top: 145%;
}
.fotosize{
    height: 17%;
    width: 17%;
    margin: 2%;
    float: left;
}
.configsize{
    height: 33%;
    width: 33%;
    margin: 2%;
    margin-top: -5%;
    margin-right: 2%;
    float: right;
}