<ion-content class="background">
<br>
  <ion-card style="border-radius: 15px;">
    <br>
    <ion-img src = "https://cdn-icons-png.flaticon.com/512/3135/3135768.png" style="height: 50%;width: 30%;margin-left: 35%;"></ion-img>
    <ion-item style="text-align: center;">
      <ion-label>{{nombreCompleto}}</ion-label>
    </ion-item>
  </ion-card>

  <ion-card style="border-radius: 15px;">
    <ion-item style="text-align: center;">
      <ion-label>+56 {{telefonoConductor}}</ion-label>
    </ion-item>
    <ion-item style="text-align: center;">
      <ion-label>{{"Patente" | translate }}: {{patenteConductor}}</ion-label>
    </ion-item>
    <ion-item style="text-align: center;">
      <ion-label>{{marcaYModelo}}</ion-label>
    </ion-item>
  </ion-card>
  <ion-card style="margin-top: 10;border-radius: 15px;">
    <ion-item style="text-align: center;color: #049c7c;">
      <ion-label>{{"Estimado: de 5 a 15 minutos" | translate}}</ion-label>
    </ion-item>
  </ion-card>
     
</ion-content>

<ion-footer>
  <ion-toolbar>
        <div>
            <ion-img class="fotosize" src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" alt=""></ion-img>
            <br>
            <ion-label style="color: white;margin-left: 3%;">{{nombreUser}}</ion-label>
            <br>
            <span style="margin-left: 3%;">{{apellidoUser}}</span>
            <ion-img class="configsize" [routerLink]="['/config']"></ion-img>
            <ion-button class="centrado" shape="round" (click)="llegoAccion()">Llegó</ion-button>
            <ion-button class="centrado" shape="round" (click)="cancelarSolicitud()">Cancelar solicitud</ion-button>
        </div> 
  
  </ion-toolbar>
</ion-footer>
