
<ion-content class="background">
  <div class="centrado">
    <ion-card class="card">
      <ion-card-header>
        <h3 class="login">Ingreso</h3>
      </ion-card-header>
    
      <ion-card-content>
          <form [formGroup]="formularioLogin" >
            <p>
              <ion-input formControlName="nombre" label="Email" type="email" label-placement="floating" errorText="Email Inválido" email></ion-input>
            </p>
            <p>
              <ion-input formControlName="password" label="Contraseña" type="password" label-placement="floating" errorText=" "></ion-input>
              <span *ngIf="this.formularioLogin.get('password')?.errors?.['minlength']" style="color: red;">
                (Debe tener como mínimo 6 caracteres)
              </span>
            </p>

          <div class="login">
            <ion-button (click)="login()" class="boton">Ingresar</ion-button>
          </div>
          </form>
      </ion-card-content>
      
      <br>
    </ion-card>
    
  </div>
  
  
</ion-content>

 