
<ion-content class="background">
  <div class="centrado">
    <ion-card class="card">
      <ion-card-header>
        <h2 class="login">Ingreso</h2>
      </ion-card-header>
    
      <ion-card-content>
        
          <form [formGroup]="formularioLogin">
            <ion-input formControlName="nombre" label="Email" type="email" label-placement="floating" errorText="Email Inválido" email></ion-input>
    
            <ion-input formControlName="password" label="Contraseña" type="password" label-placement="floating" errorText="Invalid Password"></ion-input>
          
          <div class="login">
            <ion-button (click)="login()" class="boton">Ingresar</ion-button>
          </div>
          </form>
          <div class="olvide">
            <ion-button fill="clear" class="olvidebtn" [routerLink]="['/olvido']"><span>Olvidé mi contraseña</span></ion-button>
          </div>
      </ion-card-content>
      
      <div class="nouser">
        <ion-button fill="clear" class="colorboton" (click)="register()"><span>¿No eres usuario?</span></ion-button>
        
      </div>
      
      <br>
    </ion-card>
    
  </div>
  
  
</ion-content>
 