<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="centrado">
    <ion-card class="card">
      <ion-card-header>
        <h2 class="login">Olvidé mi contraseña</h2>
        
      </ion-card-header>
      <div class="login">
      Ingresa tú correo para verificar tu cuentas
      </div>
      <ion-card-content>
        <form [formGroup]="olvido">     
            <ion-input formControlName="correo" label="Email" type="email" label-placement="floating" errorText="Email Inválido" email></ion-input>
          <div class="login">
            <ion-button class="boton" (click)="verificar()">Recuperar contraseña</ion-button>
          </div>
        </form>
      </ion-card-content>
    
    </ion-card>
    
  </div>
  
  
</ion-content>
 