<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="centrado">
    <ion-card class="card">
      
        <div>
          <h3 class="login">{{"Olvidé mi contraseña" | translate}}</h3>
        </div>
       <br>
      <div class="login">
        <p class="text">{{"Ingresa tú correo para verificar tu cuenta" | translate}}</p>
      </div>
      <ion-card-content>
        <form [formGroup]="olvido">     
          <ion-input formControlName="email" label="Email" type="email" label-placement="floating" errorText="Email Inválido" email></ion-input>
          <div class="login">
            <ion-button class="boton" (click)="verificar()">{{"Recuperar contraseña" | translate}}</ion-button>
          </div>
        </form>
      </ion-card-content>
    
    </ion-card>
    
  </div>
  
  
</ion-content>
 