<ion-header [translucent]="true">
</ion-header>

<ion-content class="background">
  <div class="centrado">

  
  <ion-card class="card">
    <ion-card-header>
      <h2 style="text-align: center;">Datos de Tarjeta</h2>
    </ion-card-header>
    <ion-card-content>
      <div>
        <ion-input label-placement="floating" label="Numero Tarjeta"></ion-input>
      </div>

      <br>

      <div style="display: flex;">
        <div style="width: 50%; display: flex;">
          <ion-input label-placement="floating" label="Fecha Venc"></ion-input>
        </div>
        <div style="width: 30%; display: flex; margin-left: 10%;">
          <ion-input label-placement="floating" label="CVV"></ion-input>
        </div>
      </div>
      <div class="login">
        <ion-button class="boton">Completar Pago</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</div>
</ion-content>
