<ion-card class="cardsize">      
  <ion-img class="fotosize" src="https://cdn-icons-png.flaticon.com/512/3607/3607444.png" alt=""></ion-img>
  <br>
  <div style="margin-top: -1%;">
    <ion-label style="color: white">{{nombre}}</ion-label>
    <br>
    <span>{{apellido}}</span>
    <div class="position">
      <ion-fab style="margin-left: 45%;" (click)="esperando()">
        <ion-fab-button class="fab" >
          <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </div>
  
</ion-card>