<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mistarjetas"></ion-back-button>
    </ion-buttons>
    <ion-title>detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
  <ion-card-header>
      <ion-card-title>{{tarjeta.tipotarjeta}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ tarjeta.numero }}
    </ion-card-content>
    <ion-card-content>
      {{ tarjeta.fechavencimiento }}
    </ion-card-content>
    <ion-card-content>
      {{ tarjeta.cvv }}
    </ion-card-content>
  </ion-card>
  <ion-button  (click)="deleteTarjeta()">Eliminar Tarjeta</ion-button>
</ion-content>
