<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-buttons>
  
</ion-toolbar>
<ion-content class="background">
  
  <div class="centrado">

    <ion-card class="card">
      
      <ion-card-header>
        <h2 class="login">{{"Ingreso" | translate}}</h2>
      </ion-card-header>
    
      <ion-card-content>
        
          <form [formGroup]="formLoginConductor">
            <ion-input formControlName="correo" label="Email" type="email" label-placement="floating" errorText="Email Inválido" email></ion-input>
    
            <ion-input formControlName="contraseña" label="Contraseña" type="password" label-placement="floating" errorText="Invalid Password"></ion-input>
          </form>
   
      </ion-card-content>
      <div class="login">
        <span>{{"Recuperar mi" | translate}} <span style="text-decoration-line: underline;" [routerLink]="['/restablecer']">{{"Contraseña" | translate}}</span> {{"de conductor" | translate}}</span>
      </div>
      <div class="login">
        <ion-button (click)="login()" class="boton">{{"Ingresar" | translate}}</ion-button>
        
      </div>
      <div class="login">
        <ion-button fill="clear" (click)="registerconductor()" class="colorboton"><span>{{"¿No eres conductor?" | translate}}</span></ion-button>
      </div>
      <br>
    </ion-card>
    
  </div>
  
  
</ion-content>
 