<ion-content>
  <br>
  <div class="login">
  <ion-avatar>
  <img alt="start" src="https://static.vecteezy.com/system/resources/thumbnails/003/492/377/small/closeup-male-studio-portrait-of-happy-man-looking-at-the-camera-image-free-photo.jpg" />
</ion-avatar>
</div>
<ion-label class="login">Roberto Pinto </ion-label>

<img src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_872,h_490/v1561663053/assets/45/e9ec26-957e-4240-a845-686787fcbce4/original/DE4.1_stars.svg" alt="valorizacion">

<div class="abajo">
<ion-button class="login" shape="round">Finalizar Viaje</ion-button>
</div>
</ion-content>
