ion-content.background{
    --background:   url(img/buscando.png)
}

.background2{
    max-height: 35%;
    margin: 0 auto;
}
.card{
    width: 87%;
    border-radius: 20px;
    background-color: #1C1C1D;
    color: whitesmoke;
}