<ion-content>

<div class="background">
  <div>

    <ion-card style="margin-top: 10%; height: 300px; border-radius: 50%;">

        <div id="mapId" style="height: 100%; width: 100%;">
    
        </div>
    </ion-card>

  </div>
</div>
  

  <div>
    <ion-card style="height: 300px; border-radius: 30px;">
      <ion-list>
        <ion-item >
          <ion-label>
            2,27km

            <ion-label style="float: right;">{{"10 min" | translate}}</ion-label>

          </ion-label>
        </ion-item>

        <ion-item >
          <ion-label>
            $8.000

            <ion-label style="float: right;">$300 Iva</ion-label>

          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            ✰ 4.95
          <ion-label style="float: right;">► {{"Santiago centro" | translate}}</ion-label>

          </ion-label>
        </ion-item>
      </ion-list>

      
      <ion-card-content>
        <ion-card>
          <ion-progress-bar value=".25" buffer=".5"></ion-progress-bar>
        </ion-card>
      </ion-card-content>
        <div class="login">
          <ion-button style="margin: -5%;" class="boton" (click)="finalizar()">{{"Llegue a mi destino" | translate}}</ion-button>
        </div>
    </ion-card>
  </div>

</ion-content>
