<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>conductoresactivos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="conductoresActivos.length > 0">
    <ion-item *ngFor="let conductor of conductoresActivos">
      <ion-label>
        {{conductor.nombre}}
      </ion-label>
      <ion-button [routerLink]="['/detallemapconductor', conductor.id]">Solicitar</ion-button>
    </ion-item>
  </ion-list>
  <ion-text *ngIf="conductoresActivos.length === 0">
    No hay conductores activos
  </ion-text>
</ion-content>
