ion-content.background{
    --background: url(img/fondo.jpeg) 0 0/100% 100% no-repeat;
}

ion-card{
    border-radius: 20px;
    background-color: #1C1C1D;
    box-shadow: 0px 0px 12px #1C1C1D;
}

ion-button.boton{
    --background:  #049c7c;
    --background-hover: #087060 ;
    --background-activated: #049c7c 
}
