
<ion-content class="background">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="cen">
  <div class="login">
    <ion-card class="card">
      <ion-card-header>
        <h3 class="login">Registro</h3>
      </ion-card-header>
    
      <ion-card-content>
        
          <form [formGroup]="formularioRegistro">
            <p>
              <ion-input formControlName="nombre" label="Nombre" type="text" label-placement="floating" errorText="Nombre Inválido" ></ion-input>
            </p>
            <p>
              <ion-input formControlName="apellido" label="Apellido" type="text" label-placement="floating" errorText="Apellido Inválido" ></ion-input>
            </p>
            <p>
              <ion-input formControlName="correo" label="Correo" type="email" label-placement="floating" errorText="Email Inválido"  email></ion-input>
            </p>
            <p>
              <ion-input formControlName="contraseña" label="Contraseña" type="password" label-placement="floating" errorText=" "></ion-input>
              <span *ngIf="this.formularioRegistro.get('contraseña')?.errors?.['minlength']" style="color: red;">
                (Debe tener como mínimo 6 caracteres)
              </span>
            </p>
            <div class="login">
              <ion-button class="boton" (click)="guardar()">Registrarse</ion-button>
            </div>

          </form>
   
      </ion-card-content>
    </ion-card>
    
  </div>
</div>
  
</ion-content>
