
<ion-content class="background">
  
  <div class="centrado">
    <ion-card class="card">
      <ion-card-header>
        <h3 class="login">Registro</h3>
      </ion-card-header>
    
      <ion-card-content>
        
          <form [formGroup]="formularioRegistro">

            <ion-input formControlName="nombre" label="Nombre" type="text" label-placement="floating" errorText="Nombre Inválido" ></ion-input>
    
            <ion-input formControlName="apellido" label="Apellido" type="text" label-placement="floating" errorText="Apellido Inválido" ></ion-input>
            
            <ion-input formControlName="correo" label="Correo" type="email" label-placement="floating" errorText="Email Inválido"  email></ion-input>

            <ion-input formControlName="contraseña" label="Contraseña" type="password" label-placement="floating" errorText="Contraseña Inválido" ></ion-input>
          
          
            <div class="login">
              <ion-button class="boton" (click)="guardar()">Registrarse</ion-button>
            </div>
            <div class="login">
              <ion-button class="boton" (click)="login()">Regresa al login</ion-button>
            </div>

          </form>
   
      </ion-card-content>
    </ion-card>
    
  </div>
  
</ion-content>
